<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HTST4GBICATADSLIVS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HTST4GBICATADSLIVS.My.MySettings>
            <setting name="name_of_the_network_card" serializeAs="String">
                <value>Ethernet</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value>False</value>
            </setting>
        </HTST4GBICATADSLIVS.My.MySettings>
    </userSettings>
</configuration>